#scrl-icon {
  --clr: #ccc;
  display: block;
  width: 100%;
  height: 100%;
  overflow: visible;
  animation: scroll-animation-opacity 1.5s infinite running alternate;
}
.scrl-body {
  fill: none;
  stroke: var(--clr);
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 3.5;
}

.scrl-wheel {
  fill: var(--clr);
  transform-origin: bottom;
  animation: scroll-animation 3s linear infinite running;
  will-change: transform;
}

@keyframes scroll-animation {
  0% {
    opacity: 0;
    transform: translateY(-90%) scale(0.7, 0.1);
  }
  10% {
    opacity: 0.8;
    transform: translateY(-90%) scaleY(0.3);
  }
  25% {
    opacity: 0.6;
    transform: translateY(-20%) scaleY(1);
  }
  75% {
    opacity: 0.4;
    transform: translateY(40%) scaleY(1);
  }
  100% {
    opacity: 0;
    transform: translateY(20%) scale(0.8, 0.1);
  }
}

@keyframes scroll-animation-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
